.contc{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 80px 0px;

    opacity: 0;
    transition: .1s ease;
}

.containerhc{
    width: 800px;
    position: relative;
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: "img text";
}

.container-imgc{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    grid-area: img;
}
.imgc{
    width: 90%;
    margin: 0px auto 0px 0px;
}
.container-textc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    grid-area: text;
}
.textc{
    color: #C4C4C4;
    letter-spacing: 1px;
    text-align: center;
}
.titlc{
    color: #C4C4C4;
    font-weight: 700;
    letter-spacing: 2px;
}

.cont-animacioncode{
    position: absolute;
}
.animarcode{
    position: absolute;
    height: 10px;
    top: 14px;
    left: -170px;
}
.holamundo{
    position: absolute;
    display: flex;
    flex-direction: row;

    
    font-size: 10px;
    color: white;

    top: 12px;
    left: -170px;

}
span{
    background-color: #3E3E3E;
    position: absolute;
    right: 0px;
    width: 0px;
    border-left: solid 1px rgb(255, 255, 255);

    animation: escribir 6s infinite alternate steps(12);
}
@keyframes escribir{
    from{
        width: 0%;
    }
    to{
        width: 110%;
    }
}

@media screen and (max-width:1000px){
    .containerhc{
        width: 300px;
        position: relative;
        margin: 50px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "img"
                             "text";
    }
    .contc{
        position: relative;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 10px 0px;
    
        opacity: 0;
        transition: .1s ease;
    }
    .imgc{
        width: 90%;
        margin: 0px auto 0px auto;
    }
    .textc{
        color: #C4C4C4;
        letter-spacing: 1px;
        text-align: center;
        font-size: 13px;
    }
    .titlc{
        color: #C4C4C4;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 13px;
    }
    .holamundo{
        position: absolute;
        display: flex;
        flex-direction: row;
        font-size: 7.5px;
        color: white;
    
        top: 8px;
        left: -110px;
    
    }
    span{
        background-color: #3E3E3E;
        position: absolute;
        right: 0px;
        width: 0px;
        border-left: solid 1px rgb(255, 255, 255);
    
        animation: escribir 6s infinite alternate steps(12);
    }
    @keyframes escribir{
        from{
            width: 0%;
        }
        to{
            width: 110%;
        }
    }
}