.cont{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 80px 0px;

    opacity: 0;
    transition: .1s ease;
}

.containerh{
    width: 800px;
    position: relative;
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: "img text";
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    grid-area: img;
}
.img{
    width: 90%;
    margin: 0px auto 0px 0px;
}
.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    grid-area: text;
}
.text{
    color: #C4C4C4;
    letter-spacing: 1px;
    text-align: center;
}
.titl{
    color: #C4C4C4;
    font-weight: 700;
    letter-spacing: 2px;
}
.cont-animacion{
    position: absolute;
    
}
.animar{
    position: absolute;
    bottom: -100px;
    left: -50px;
    animation: cursor 5s infinite alternate;
}
.line{
    width: 100px;
    position: absolute;
    bottom: -52px;
    left: -50px;
    animation: linea 5s infinite alternate;
}
@keyframes cursor{
    0%{bottom: -100px;
        left: -50px; }
    100%{bottom: -24px;
        left: 48px; }
}
@keyframes linea{
    0%{width: 0px;}
    100%{width: 100px;}
}





@media screen and (max-width:1000px){
    .containerh{
        width: 300px;
        position: relative;
        margin: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "img"
                             "text";
    }
    .cont{
        position: relative;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 10px 0px;
    
        opacity: 0;
        transition: .1s ease;
    }
    .img{
        width: 90%;
        margin: 0px auto 0px auto;
    }
    .text{
        color: #C4C4C4;
        letter-spacing: 1px;
        text-align: center;
        font-size: 13px;
    }
    .titl{
        color: #C4C4C4;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 13px;
    }
    .animar{
        position: absolute;
        bottom: -100px;
        left: -50px;
        animation: cursor 5s infinite alternate;
    }
    .line{
        width: 100px;
        position: absolute;
        bottom: -40px;
        left: -40px;
        animation: linea 5s infinite alternate;
    }
    @keyframes linea{
        0%{width: 0px;}
        100%{width: 93px;}
    }
    @keyframes cursor{
        0%{bottom: -89px;
            left: -40px; }
        100%{bottom: -20px;
            left: 50px; }
    }
}