.conte {
  width: 90%;
  margin: 20px auto 200px auto;
  padding: 20px;
  position: relative;

  opacity: 0;
  transition: 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: row;
}
.text-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 50px 0px;
  text-align: center;
  color: #313131;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.25em;
}
.texto {
  height: auto;
  width: 800px;
  position: relative;
  margin: 0px 0px 0px 0px;
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
}
.serv-cont {
  display: flex;
  flex-direction: row;
}
/* card-section */
.card-container {
  position: relative;
  background-color: #ffffff;
  margin: 30px 50px;
  width: 320px;
  height: 400px;
  box-shadow: 0px 1px 12px 2px #3a749b;
  border-radius: 14px;
  overflow: hidden;
}
.card-img {
  position: relative;
  width: 150px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  user-select: none;
  top: 0;
}
.card-title {
  position: relative;
  margin: 0px 20px;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  user-select: none;
  top: 0;
}
.card-desc {
  color: #313131;
  margin: 0px 25px;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  user-select: none;
  position: relative;
  bottom: -300px;
  opacity: 0;
}
/* card-section HOVER*/
.card-container:hover .card-img {
  opacity: 0;
  transition: 0.4s ease;
  top: -300px;
}
.card-container:hover .card-title {
  opacity: 0;
  transition: 0.4s ease;
  top: -300px;
}
.card-container:hover .card-desc {
  opacity: 1;
  transition: 0.4s ease;
  bottom: 300px;

}
/* card-section end*/
.contact {
  position: relative;
  bottom: 0px;
  margin: 100px 0px 0px 0px;
  opacity: 0;
  height: 300px;
  background-color: #313131;

  display: flex;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.cont-contact {
  width: 100%;
  padding: 8px 0px 8px 0px;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1;
}
.contactame {
  width: 100%;
  margin: 0px;
  text-align: center;
  color: #c4c4c4;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.25em;
  grid-column-start: 2;
}
.ig-contact {
  position: relative;
  width: 100%;
  height: 50px;
  grid-column-start: 2;
  grid-row-start: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.img-ig {
  width: 35px;
  height: 35px;
  user-select: none;
  margin: 0px 10px;
}
.text-ig {
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
}

@media screen and (min-width: 1400px) {
  .conte {
    width: 1200px;
    margin: 200px auto 200px auto;
  }
}
@media screen and (max-width: 1000px) {
  .conte {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 0px 0px 100px 0px;
    width: 100%;
  }
  .title {
    margin: 0px 0px 50px 0px;
    font-size: 30px;
  }
  .texto {
    height: auto;
    width: 80%;
    position: relative;
    margin: 0px 0px 0px 0px;
    font-weight: 500;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .serv-cont {
    display: flex;
    flex-direction: column;
  }
  .card-container {
    background-color: #ffffff;
    margin: 30px auto;
    width: 250px;
    height: 350px;
    box-shadow: 0px 1px 12px 2px #3a749b;
    border-radius: 14px;
  }
  .card-img {
    margin: 30px auto;
  }
  .contactame {
    font-size: 30px;
  }
}
