.inicio{
    opacity: 0;
    transition: .3s ease;
    height: 100vh;
}
.land{
    position: relative;
    margin: 0px auto 0px auto;
    max-width: 1000px;
    height: 500px;
    padding: 100px 0px 0px 0px;

    display: flex;
    flex-direction: row;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "t i";
}
.land-text{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    grid-area: t;
    margin: auto;
}
.land-logo{
    position: relative;
    width: 400px;
    user-select: none;
}
.logo-img{
    position: relative;
    width: 100%;
}
.land-title{
    margin: 40px auto 40px auto;
}
.land-button{
    margin-top: 30px;
    padding: 10px 35px 10px 35px;
    background-color: #C4C4C4;
    color: #272B2F;
    border-radius: 40px;
    border: 1.9px solid #C4C4C4;
    list-style: none;
    cursor: pointer;
    transition:.3s ease-in-out;
    user-select: none;
}
.land-button:hover{
    margin-top: 30px;
    padding: 10px 35px 10px 35px;
    background-color: #272B2F;
    color: #C4C4C4;
    border-radius: 40px;
    list-style: none;
    cursor: pointer;
    transition:.3s ease-in-out;
}
.land-img{
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    grid-area: i;
    margin: auto;
    user-select: none;
}
.vapor-cont{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    left: 23px;
    top: 190px;
}
.vapor1{
    position: absolute;
    top: 5px;
    left: 15px;
    opacity: .6;
    animation-name:vapor1;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.vapor2{
    position: absolute;
    opacity: .6;
    animation-name:vapor2;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cursor{
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 10;
    top: 55px;
    animation-name:cursorr;
    animation-duration:10s;
    animation-iteration-count: infinite;
}

.landing{
    position: relative;
    width: 100%;
}
.scroll{
    margin: 40px auto 0px auto;
    position: relative;
    width: 50px;
    user-select: none;
    bottom: 0px;
}
.scroll-cont{
    width: 50px;
    position: relative;
}
.scroll-flecha1{
    position: absolute;
    width: 12px;
    bottom: 15px;
    left: 19px;
    animation-name:flecha1;
    animation-duration:.8s;
    animation-iteration-count: infinite;
}
.scroll-flecha2{
    position: absolute;
    width: 12px;
    bottom: 22px;
    left: 19px;
    animation-name:flecha2;
    animation-duration:.8s;
    animation-iteration-count: infinite;
}

@keyframes cursorr{
    0%   {top: 55px; left: 180px;}
    20%  {top: 70px; left: 220px;}
    40%  {top: 75px; left: 260px;}
    50%  {top: 30px; left: 200px;}
    80%  {top: 45px; left: 150px;}
    100% {top: 30px; left: 250px;}

}
@keyframes vapor1{
    0%   {top: 5px;    opacity: .7;}
    50%  {top: -4.5px; opacity: .5;}
    100% {top: -14px;  opacity: 0;}

}@keyframes vapor2{
    0%   {top: 0px;    opacity: .7;}
    50%  {top: -3px; opacity: .5;}
    100% {top: -10px;  opacity: 0;}

}
@keyframes flecha1{
    0% {bottom: 24px;}
    100% {bottom: 22px;}

}
@keyframes flecha2{
    0% {bottom: 17px;}
    100% {bottom: 15px;}

}

@media screen and (max-width:1000px){
    .land{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 200px 0px 0px 0px;
    
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "i"
                             "t";
    }
    .inicio{
        opacity: 0;
        transition: .3s ease;
        height: 100vh;
    }
    .land-text{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        color: #C4C4C4;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        grid-area: t;
        margin: auto;
    }
    .land-title{
        margin: 20px auto;
    }
    .land-logo{
        position: absolute;
        top: 50px;
        width: 300px;
        user-select: none;
    }
    .land-button{
        margin: 20px auto;
    }
    .land-img{
        width: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        grid-area: i;

    }
    .landing{
        position: relative;
        width: 300px;
    }
    .vapor-cont{
        position: absolute;
        z-index: 10;
        width: 30px;
        height: 30px;
        left: 15px;
        top: 133px;
    }
    .scroll{
        bottom: -270px;
    }
}