.inicio{
    opacity: 0;
    transition: .3s ease;
    height: 70vh;
    position: relative;
    top: -1px;
    background: #313131;
}
.land-button{
    margin-top: 30px;
    padding: 10px 35px 10px 35px;
    background-color: #C4C4C4;
    color: #272B2F;
    border-radius: 40px;
    border: 1.9px solid #C4C4C4;
    list-style: none;
    cursor: pointer;
    transition:.3s ease-in-out;
    user-select: none;
    display: none;
}
.separator{
    position: relative;
    top: -10px;
}
.waves{
    width: 100%;
}