.navbar {
  width: 100%;
  height: 50px;
  padding: 0px;
  background: #212529;
  position: fixed;
  top: 0;
  opacity: 0.98;
  list-style: none;
  z-index: 100;
  display: flex;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
  user-select: none;
}
.navbar-open {
  width: 100%;
  height: 50px;
  padding: 0px;
  background: #212529;
  position: fixed;
  top: 0;
  opacity: 0.98;
  list-style: none;
  z-index: 100;
  display: flex;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in-out;
  user-select: none;
}
.navbar-container {
  margin: auto;
  position: relative;
  width: 1300px;
  display: flex;
  opacity: 1;
  list-style: none;
  height: auto;
  justify-content: space-between;
}
.menut-open {
  width: 100%;
  height: 0px;
  margin-top: 50px;
  position: absolute;
  opacity: 1;
  text-align: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.menut {
  width: 100%;
  height: 0px;
  margin-top: 30px;
  position: absolute;
  opacity: 0;
}
.menutext {
  position: relative;
  width: 100%;
  opacity: 0;
  margin-top: 10px;
}
.menutext-open {
  position: relative;
  padding: 5px 0px 0px 0px;
  width: 100%;
  top: -5px;
  margin: 0;
  list-style: none;
  color: #afafaf;
  opacity: 1;
  justify-content: center;
  background: #212529;
}
.menutl {
  display: none;
}
.menutl-open {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  padding: 15px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 1;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: #c4c4c4d2;
}

.menutl-open:hover {
  background-color: #2e3237b8;
}

.menu-cont {
  height: 52px;
  width: 52px;
  position: relative;
  opacity: 0.9;
  margin: 0px;
  z-index: 1;
  cursor: pointer;
}

.menu-cont:hover .menuImg {
  width: 32px;
  margin: calc(50% - 16px);
  transition: 0.2s ease-in-out;
}

.menuImg {
  position: relative;
  width: 30px;
  margin: calc(50% - 15px);
  transition: 0.2s ease-in-out;
}

.menu-cont:hover .menuImg-open {
  width: 32px;
  margin: calc(50% - 16px);
  transition: 0.2s ease-in-out;
}

.menuImg-open {
  width: 30px;
  margin: calc(50% - 15px);
  transform: rotate(225deg);
  transition: 0.2s ease-in-out;
}

.logo-cont {
  height: 50px;
  display: flex;
  justify-content: center;
}
.navbarImg {
  width: 40px;
  height: 40px;
  top: 0px;
  padding: 5px;
  z-index: 1;
}
.fixnav {
  width: 47px;
  height: 47px;
}
